--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.1+cu121

requests
importlib_metadata
mmcv-lite==2.2.0
mmengine==0.10.3
rdkit==2023.9.3
biopandas==0.5.1
tqdm
prettytable
torchdata==0.8.0
pydantic==2.8.2
pydantic_core==2.20.1
modelindex==0.0.2
biopython==1.84
POT==0.9.4
joblib==1.3.2
tensorboard

--find-links https://data.dgl.ai/wheels/torch-2.3/cu121/repo.html
dgl==2.3.0+cu121

